.report-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .report-card-header {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .pie-container {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  